table, th, td {
    border:1px solid red;
    border-collapse: collapse;
    text-align: left;
}

th, td {
    width: 100px;
}

tr:nth-child(odd) {
    background: blue;

}
tr:hover {
    background-color: green;
}
h1 {
    background-color: chartreuse;
}
h2 {
    background-color: chocolate;
}